<div class="content" role="main">

  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Cost</th>
      <th>Quantity</th>
    </tr>
    <tr *ngFor="let prodInventory of productInventories| async">
      <td>{{prodInventory.product.id}}</td>
      <td>{{prodInventory.product.name}}</td>
      <td>{{prodInventory.product.unitCost}}</td>
      <td>{{prodInventory}}</td>
    </tr>
  </table>

  <footer>
    Today is {{now}}
  </footer>

</div>